# Nix
result

# Domain specific
mithril-snapshots
kupo-data
*.tgz
db/
s3-volume


# Javascript and nodejs
./*.js
node_modules/

# Direnv 
.envrc
.direnv

# Emacs 
*~
\#*\#
.\#*
*~

# Misc
.pre-commit-config.yaml
