# Nix
result

# Domain specific
mithril-snapshots
kupo-data
*.tgz
db/
s3-volume
available-snapshots.json
/docker-compose.yaml
mithril-configurations
cardano-configurations
exported-snapshots

# Javascript and nodejs
*.js
node_modules/
build/
# Direnv 
.envrc
.direnv

# Emacs 
*~
\#*\#
.\#*
*~

# Misc
.pre-commit-config.yaml

# Vm
*.qcow2

snapshots/*
